:root {
  /* spacing */
  --s4: 4px;
  --s8: 8px;
  --s12: 12px;
  --s16: 16px;
  --s24: 24px;
  --s32: 32px;
  --s48: 48px;
  --s64: 64px;
  --s96: 96px;

  /* borders */
  --border-radius: 6px;
  --border-radius_M: 12px;
  --xl-border-radius_M: 20px;
  --border-color: #7b8794;

  /* texts */
  --sub-text-color: #cbd2d9;
  --xl-font-size: 30px;
  --font-size: 16px;
  --xs-font-size: 13px;

  /* colors */
  --black: #000;
  --white: #fff;
  --error-color: #e66a6a;

  /* box shadows */
  --white-box-shadow: inset 0px 0px 24px -10px rgba(255, 255, 255, 1);

  /* z-indexes */
  --z-first: 9999;
  --z-second: 1000;
  --z-third: 500;
  --z-fourth: 250;
  --z-last: -1;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  color: #fff;
  font-size: var(--font-size);
  box-sizing: border-box;
  font-family: "Space Grotesk";
  scrollbar-width: none;
}

html {
  background-color: var(--black);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* Remove input autofill browser style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: var(--white);
  transition: background-color 5000s ease-in-out 0s;
}
