@use "@/lib/styles/style.scss";

* {
  margin: 0;
  padding: 0;
  outline: none;
  color: var(--color1);
  text-decoration: none;
  user-select: none;
  box-sizing: border-box;
  font-size: var(--m-font-size);
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: none;
}

html, body, #app {
  height: 100%;
  overflow: hidden;
}

html {
  background-color: black;
}

#app {
  display: flex;
  justify-content: center;
}

/* Remove input auto complete browser style. */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
